<!--templates/auth.html -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Log in</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
}
</style>
</head>
<body>
	{{ state }}
	{% if check == "True" %}
	<form action="/audio/" method="POST">{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="/audio/" />
		{% endif %}
		Username:
		<input type="text" name="username" value="{{ username }}" /><br />
		Password:
		<input type="password" name="password" value="{{ password }}" /><br />

		<input type="submit" value="Log In" />
	</form>
	{% else %}
	<form action="/login/" method="POST">{% csrf_token %}
		{% if next %}
		<input type="hidden" name="next" value="/login/" />
		{% endif %}
		Username:
		<input type="text" name="username" value="{{ username }}" /><br />
		Password:
		<input type="password" name="password" value="{{ password }}" /><br />

		<input type="submit" value="Log In" />
	</form>
	{% endif %}
</body>
</html> 


